Repository Jlisowskyy/intro-ml-2024, pull requests merged in 2025-01, with the labels that each got.

#130 52 set up train multiple models prepare infrastracture
  .pylintrc
  .python-version
  src/cnn/cnn.py
  src/cnn/model_api.py
  src/cnn/model_definition.py
  src/cnn/train.py
  src/constants.py
  src/frontend/app_state.py
  src/model_definitions.py
  src/scripts/validate_dataset.py
  src/test/test_classify.py
  src/test/test_cnn.py
  src/test/test_load_cnn_model.py
Labels: enhancement, config

#144 Data augmentation in database generation
  .gitignore
  src/constants.py
  src/pipeline/audio_accelerator.py
  src/pipeline/audio_pitcher.py
  src/pipeline/base_preprocessing_pipeline.py
  src/pipeline/echo_injector.py
  src/pipeline/noise_injector.py
  src/scripts/audio_augmentation.py
  src/scripts/prepare_dataset.py
  src/test/test_augmentation.py
Labels: config

#150 added a flattener to the unknowns
  src/cnn/validator.py
Labels: bug

#155 154 adversarial attacks enhancement
  .gitignore
  main.py
  models/.gitkeep
  requirements.txt
  src/scripts/find_correct_classifications.py
  src/test/test_adversal_attack.py
  src/test/test_data/adversarial_spectrogram_0.png
  src/test/test_data/adversarial_spectrogram_1.png
  src/test/test_data/adversarial_spectrogram_2.png
  src/test/test_data/original_spectrogram_0.png
  src/test/test_data/original_spectrogram_1.png
  src/test/test_data/original_spectrogram_2.png
Labels: config
